body
{

background-color: #F08080;
}

.square1 {
  height: 5%;
  width: 10%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  background-color: #F08080;
}
.square2 {
  height: 5%;
  width: 10%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  background-color: #FFDAB9;
}
.square3 {
  height: 5%;
  width: 10%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  background-color: #FFFAFA;
}
.square4 {
  height: 5%;
  width: 10%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  background-color: #FFF5EE;
}
.square5 {
  height: 5%;
  width: 10%;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  background-color: #FFE4E1;
}
.t {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	width: 35%
	 touch-action: manipulation;
}
.s {
	display:none;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	width: 35%
	touch-action: manipulation;
}
.c {
	display:none;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	width: 35%
	 touch-action: manipulation;
}
.container h1  {
	    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 187%;
}
